<!-- ============================================================== -->
<!-- Grid-->
<!-- ============================================================== -->
<div fxLayout="row wrap">
  <!-- Column-->
  <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Bar Sales Chart</mat-card-title>
        <mat-card-subtitle>This is the simple example of bar chart</mat-card-subtitle>
       
      </mat-card-content>
    </mat-card>
  </div> 
  <!-- Column-->
  <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Doughnut Chart</mat-card-title>
        <mat-card-subtitle>This is the simple example of Doughnut chart</mat-card-subtitle>
       
      </mat-card-content>
    </mat-card>
  </div>
  <!-- Column-->
  <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Radar Chart</mat-card-title>
        <mat-card-subtitle>This is the simple example of Radar chart</mat-card-subtitle>
       
      </mat-card-content>
    </mat-card>
  </div>
  <!-- Column-->
  <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Pie Chart</mat-card-title>
        <mat-card-subtitle>This is the simple example of Pie Chart</mat-card-subtitle>
        
      </mat-card-content>
    </mat-card>
  </div>
  <!-- Column-->
  <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Polar Area Chart</mat-card-title>
        <mat-card-subtitle>This is the simple example of Polar Area Chart</mat-card-subtitle>
       
      </mat-card-content>
    </mat-card>
  </div>
  <!-- Column-->
  <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Line Chart</mat-card-title>
        <mat-card-subtitle>This is the simple example of Line Chart</mat-card-subtitle>
      
      </mat-card-content>
    </mat-card>
  </div>
</div>
