<mat-card>
  <mat-card-content>
    <mat-card-title>Tipos de contratos {{empresa}} </mat-card-title>
    <mat-card-subtitle>cantidad de contratos</mat-card-subtitle>
    <div id="visitor-chart" class="m-t-40 p-t-30 p-b-20 d-flex flex-column">
      <apx-chart
        [series]="VisitorChartOptions.series"
        [chart]="VisitorChartOptions.chart"
        [labels]="VisitorChartOptions.labels"
        [responsive]="VisitorChartOptions.responsive"
        [tooltip]="VisitorChartOptions.tooltip"
        [legend]="VisitorChartOptions.legend"
        [colors]="VisitorChartOptions.colors"
        [dataLabels]="VisitorChartOptions.dataLabels" 
      
        [plotOptions]="VisitorChartOptions.plotOptions"
        [stroke]="VisitorChartOptions.stroke"
      >
      </apx-chart>
      
    </div>
  </mat-card-content>
  <hr />
 
</mat-card>
