<!-- ============================================================== -->
<!-- Fixed height Card Grid-->
<!-- ============================================================== -->


<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
  <mat-form-field appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date" #dateRangeStart >
      <input matEndDate placeholder="End date"  #dateRangeEnd (dateInput)="dateRangeChange(dateRangeStart,  dateRangeEnd) " disabled clear-on-cancel="true"
      >
      
      
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
</mat-card>
  </div> 
</div>
 

<div fxLayout="row wrap">
  <div fxLayout="row wrap" style="justify-content:center; width: 100%; " fxLayout="row" fxLayout="center" >
  <div fxFlex.gt-sm="30" fxFlex.gt-xs="100" fxFlex="100" *ngFor="let e of events">
    <mat-card>
      <mat-card-content>
        <!-- Row -->
        <div class="d-flex no-block" (click)="updatetabla(e.TIPO)">
          <!-- column -->
          <div class="m-r-10 no-shrink">
            <button mat-fab color="warn" mat-card-icon style="background-color:green">
              <mat-icon>attach_money</mat-icon>
            </button>
          </div>
          <!-- column -->
          <div> 
            <h3 class="m-0">{{e.MONTO_TOTAL}}</h3>
            <h6 class="text-muted m-0"> Total Casos: {{e.TOTAL}} </h6>
            <h5 class="text-muted m-0">{{e.TIPO}}</h5>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>




</div>
</div>
<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
        <mat-card-content>
          <mat-card-title>DETALLE FACTURAS</mat-card-title>
          <div class="bg-light p-10 p-r-20 p-l-20">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" />
            </mat-form-field>
          </div>
          <div  class="example-container responsive-table">
            <mat-table [dataSource]="dataSource" matSort *ngIf="tablas == 0" style="width:1200 !important">
              <!-- ID Column --> 
              <ng-container matColumnDef="id" >
                <mat-header-cell *matHeaderCellDef > ID </mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.ID }}</mat-cell>
                
              </ng-container>
  
  
              <ng-container matColumnDef="Sistema">
                <mat-header-cell *matHeaderCellDef  > PEDIDO </mat-header-cell>
                <mat-cell *matCellDef="let row" > {{ row.Pedido }} </mat-cell>
              </ng-container>
  
              <ng-container matColumnDef="Nombre">
                <mat-header-cell *matHeaderCellDef > FECHA </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.FechaEstado }} </mat-cell>
              </ng-container>
  
  
  
  
              <ng-container matColumnDef="Casos">
                <mat-header-cell *matHeaderCellDef > CLIENTE </mat-header-cell>
                <mat-cell *matCellDef="let row" >  {{ row.Nombre }}  </mat-cell>
              </ng-container>
              
     





              <ng-container matColumnDef="Vencidos">
                <mat-header-cell *matHeaderCellDef> INSTITUCION </mat-header-cell>
                <mat-cell *matCellDef="let row" style=" justify-content:center;">  {{ row.NombreInstitucion }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="Casosb">
                <mat-header-cell *matHeaderCellDef > CHASIS/PLACA </mat-header-cell>
                <mat-cell *matCellDef="let row">  {{ row.Chasis_Placa }} </mat-cell>
              </ng-container> 
              <ng-container matColumnDef="Link">
                <mat-header-cell *matHeaderCellDef > ESTILO </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.Estilo}} </mat-cell>
              </ng-container> 
              <ng-container matColumnDef="Escritura">
                <mat-header-cell *matHeaderCellDef> ESCRITURA </mat-header-cell>
                <mat-cell *matCellDef="let row">  {{ row.Escritura }} </mat-cell>
              </ng-container> 
              <ng-container matColumnDef="Boleta">
                <mat-header-cell *matHeaderCellDef > BOLTA </mat-header-cell>
                <mat-cell *matCellDef="let row">  {{ row.Boleta }} </mat-cell>
              </ng-container> 
              <ng-container matColumnDef="Precio">
                <mat-header-cell *matHeaderCellDef > PRECIO </mat-header-cell>
                <mat-cell *matCellDef="let row">  {{ row.SPE }} </mat-cell>
              </ng-container> 
              <!-- Name Column --> 
        
              <!-- Color Column -->
         
  
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
            </mat-table>
            <mat-table [dataSource]="dataSource" matSort *ngIf="tablas == 1">
              <!-- ID Column -->
              <ng-container matColumnDef="ID">
                <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.ID }}</mat-cell>
              </ng-container>
  
  
              <ng-container matColumnDef="SOLICITANTE">
                <mat-header-cell *matHeaderCellDef mat-sort-header> SOLICITANTE </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.Solicitante }} </mat-cell>
              </ng-container>
  
              <ng-container matColumnDef="FECHA">
                <mat-header-cell *matHeaderCellDef mat-sort-header> FECHA </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.Fecha }} </mat-cell>
              </ng-container>
  
  
  
  
              <ng-container matColumnDef="DEPARTAMENTO">
                <mat-header-cell *matHeaderCellDef mat-sort-header> DEPARTAMENTO </mat-header-cell>
                <mat-cell *matCellDef="let row" >  {{ row.Nombre_Dep }}  </mat-cell>
              </ng-container>
              <ng-container matColumnDef="INSTITUCION">
                <mat-header-cell *matHeaderCellDef mat-sort-header> INSTITUCION </mat-header-cell>
                <mat-cell *matCellDef="let row" style=" justify-content:center;">  {{ row.Abreviacion }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="CODIGO">
                <mat-header-cell *matHeaderCellDef mat-sort-header> CODIGO </mat-header-cell>
                <mat-cell *matCellDef="let row">  {{ row.Codigo }} </mat-cell>
              </ng-container> 
              <ng-container matColumnDef="T.DOC">
                <mat-header-cell *matHeaderCellDef mat-sort-header> T.DOC </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.FkTipoDoc}} </mat-cell>
              </ng-container> 
              <ng-container matColumnDef="TIMBRES">
                <mat-header-cell *matHeaderCellDef mat-sort-header> TIMBRES </mat-header-cell>
                <mat-cell *matCellDef="let row">  {{ row.Timbres }} </mat-cell>
              </ng-container> 
              <ng-container matColumnDef="P.SEGURIDAD">
                <mat-header-cell *matHeaderCellDef mat-sort-header> P.SEGURIDAD </mat-header-cell>
                <mat-cell *matCellDef="let row">  {{ row.PapelSeguridad }} </mat-cell>
              </ng-container> 
              <ng-container matColumnDef="TOTAL">
                <mat-header-cell *matHeaderCellDef mat-sort-header stickyEnd> TOTAL </mat-header-cell>
                <mat-cell *matCellDef="let row">  {{ row.Total }} </mat-cell>
              </ng-container> 
              <!-- Name Column --> 
        
              <!-- Color Column -->
         
  
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
              
            </mat-table>
  
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

  
  
  
</div>
<div fxLayout="row wrap">

</div>
<div fxLayout="row wrap">

</div>

<div fxLayout="row wrap">

</div>

<div fxLayout="row wrap">

</div>

<div fxLayout="row wrap">

</div>

<div fxLayout="row wrap">

</div>

<div fxLayout="row wrap">

</div>

<!-- New -->
<div fxLayout="row wrap">

</div>
