
<div fxLayout="row wrap" style="justify-content:center; width: 100%; " fxLayout="row" fxLayout="center" >
   
   
 <h3>DATOS HISTORICOS</h3>
 </div>
<div fxLayout="row wrap" style="justify-content:center; width: 100%; " fxLayout="row" fxLayout="center" >
   
   
  <mat-card-title>ASIGNACION DE CASOS</mat-card-title>
  <br>
  <br>
  <br>
</div> 
<div fxLayout="row wrap" style="justify-content:center; " fxLayout="row" fxLayout="center" >
  <!-- column -->
  
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <!-- Row -->
        <div class="d-flex no-block">
          <!-- column -->
          <div class="m-r-10 no-shrink">
            <button mat-fab mat-card-icon class="shadow-none bg-inverse bg-success"  [routerLink]="['../../apps/ticketlist']">
              <mat-icon>account_circle</mat-icon>
            </button>
          </div> 
          <!-- column -->
          <div>
            <h3 class="m-0">{{total}}</h3>
            <h6 class="text-muted m-0">CASOS TOTAL</h6>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column --> 
  <!-- column -->
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <!-- Row -->
        <a [routerLink]="['../../apps/ticketlist','0']">
        <div class="d-flex no-block">
          <!-- column -->
          <div class="m-r-10 no-shrink">
            <button mat-fab color="warn" mat-card-icon  style="background-color:red">
              <mat-icon>notification_important</mat-icon>
            </button>
          </div>
          <!-- column -->
          <div>
            <h3 class="m-0">{{vencido}}</h3> 
            <h6 class="text-muted m-0">CASOS VENCIDOS</h6>
          </div>
        </div>

</a>

 
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <!-- Row -->

        <a [routerLink]="['../../apps/ticketlist','0']">
        <div class="d-flex no-block">
          <!-- column -->
          <div class="m-r-10 no-shrink">
            <button mat-fab color="warn" mat-card-icon class="shadow-none bg-warning">
              <mat-icon>network_check</mat-icon>
            </button>
          </div>
          <!-- column -->
          <div>
            <h3 class="m-0">{{tiempo}}</h3>
            <h6 class="text-muted m-0">CASOS POR VENCER</h6>
          </div>
        </div>
</a>



      </mat-card-content>
    </mat-card> 
  </div>
  <!-- column -->
  <!-- column -->
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <!-- Row -->
        <div class="d-flex no-block">
          <!-- column -->
          <div class="m-r-10 no-shrink">
            <button mat-fab color="accent" mat-card-icon class="shadow-none">
              <mat-icon>stars</mat-icon>
            </button>
          </div>
          <!-- column -->
          <div>
            <h3 class="m-0">{{cerrado}}</h3>
            <h6 class="text-muted m-0">CASOS CERRADOS</h6>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
  <!-- column -->

  <!-- column -->
</div>
