<mat-card>
  <mat-card-content> 
    <mat-card-title>Valor de contrato</mat-card-title>

    <form [formGroup]="form">
      <div fxLayout="row wrap">
        <div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
          <mat-form-field>
            <input matInput placeholder="Descripcion" [formControl]="form.controls['femail']" />
          </mat-form-field>
      
        </div>
        <div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
          <mat-form-field>
            <input matInput placeholder="Valor" [formControl]="form.controls['fname']" />
          </mat-form-field>
      
        </div>

      


        <div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
          <mat-form-field>
            <input
              matInput
              [matDatepicker]="picker"
              [formControl]="form.controls['date']"
              placeholder="Fecha de pago"
            />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        
          
          
        </div>

      
       

      

      </div>

      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" (click)="insertFactura()" >
          GUARDAR
        </button>
        <button mat-raised-button style="background-color:red ;" type="submit" (click)="cancelar()" >
          CANCELAR
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
